@import './styles/colors';

html {
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
}

button,
textarea {
	font-family: 'Josefin Sans', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.container {
	background: $lightergreen;
	min-height: 93vh;
}