@import '../../styles/colors';

.spacecard {
	background: $lightgreen;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	margin: 10px;
	border: 2px solid $darkergreen;
	border-radius: 10px;

	&__title {
		color: $darkgreen;
	}

	&__group {
		display: flex;
		justify-content: space-evenly
	}

	&__button {
		border: none;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;
		margin: 5px;

		&--update {
			background: $lila;
		}

		&--delete {
			background: $darkred;
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
	}

	&__input {
		border: none;
		height: 25px;
		border-radius: 5px;
		margin: 5px 0;
	}
}