@import '../../styles/colors';

.spacecard {
	background: $lightgreen;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	margin: 10px;
	border: 2px solid $darkergreen;

	&__title {
		color: $darkgreen;
	}

	&__group {}

	&__button {
		padding: 5px;
		margin: auto;
	}

	&__actions {
		display: flex;
		flex-direction: column;
	}

	&__input {
		border: none;
		height: 20px;
	}
}