@import '../../styles/colors';

.spacecard {
	background: $lightgreen;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	margin: 10px;
	border: 2px solid $darkergreen;

	&__title {
		color: $darkgreen;
	}

	&__group {}

	&__button {
		border: none;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;

	}

	&__actions {
		display: flex;
		flex-direction: column;
	}

	&__input {
		border: none;
		height: 20px;
	}
}