@import '../../styles/colors';

.counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	border: 2px solid $darkgreen;
	padding: 5px 5px 0 5px;
	border-radius: 10px;

	&__title {
		text-align: center;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 2px solid $darkgreen;
		height: 32px;
	}

	&__subtitle {
		min-width: 100px;
		text-align: center;
	}

	&__number {
		min-width: 100px;
		text-align: center;
	}
}