@import '../../styles/colors';

.footer {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__text {
		text-align: center;
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__link {
		font-size: 25px;
		color: $darkgreen;
		margin: 5px;
		transition: color 0.2s ease;

		&:hover {
			color: #202020;
		}

		&--linkedin {
			transition: color 0.2s ease;

			&:hover {
				color: #0a66c2;
			}
		}

		&--hashnode {
			transition: color 0.2s ease;

			&:hover {
				color: #2962ff;
			}
		}

		&--twitter {
			transition: color 0.2s ease;

			&:hover {
				color: #1d9bf0;
			}
		}

		&--instagram {
			transition: color 0.2s ease;

			&:hover {
				color: #fe0a64;
			}
		}
	}
}