@import '../../styles/colors';

.header {
	display: flex;
	justify-content: space-between;

	@media (min-width: 320px) {}

	@media(min-width: 768px) {}

	@media (min-width: 1200px) {}

	&__title {
		font-size: 30px;
		text-decoration: none;
		color: $lila;
	}
}