.header {
	display: flex;
	justify-content: space-between;
	// align-items: center;

	@media (min-width: 320px) {}

	@media(min-width: 768px) {}

	@media (min-width: 1200px) {}

	&__title {
		font-size: 30px;
		text-decoration: none;
		color: #05190A;
	}
}