@import '../../styles/colors';

.dropdown {
	display: flex;

	flex-direction: column;

	&__button {
		border: none;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;
	}

	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

	}

	&__item {
		padding: 5px;
	}
}