@import '../../styles/colors';

.dropdown {
	&__button {
		border: none;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;
	}

	&__list {}

	&__item {}
}