@import '../../styles/colors';

.singleday {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 40px;

	@media (min-width: 512px) {
		flex-wrap: nowrap;
	}

	&__date {
		font-size: 20px;
	}

	&__group {
		display: flex;
	}

	&__icon {
		font-size: 30px;

		&--greyScale {
			filter: grayscale(1);

		}
	}

	&__button {
		border: none;
		padding: 10px;
		height: 40px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		cursor: pointer;
		margin-left: 5px;

		&:disabled {
			background: grey;
		}

	}

	&__textarea {
		margin-left: 10px;
		height: 40px;
		width: 100%;
		padding: 5px;
	}
}