@import '../../styles/colors';

.singleday {
	display: flex;
	justify-content: center;
	align-items: center;

	&__date {
		font-size: 20px;
	}

	&__icon {
		font-size: 30px;

		&--greyScale {
			filter: grayscale(1);

		}
	}

	&__button {
		border: none;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;
	}

	&__textarea {}
}