@import '../../styles/colors';

.createday {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: red;

	@media (min-width: 320px) {}

	@media(min-width: 768px) {}

	@media (min-width: 1200px) {}

	&__today {
		font-size: 30px;
	}

	&__icons {
		display: flex;
		flex-direction: row;
	}

	&__icon {
		font-size: 24px;

		&--greyScale {
			filter: grayscale(1);
		}
	}

	&__comment {}

	&__button {
		border: none;
		margin: 10px;
		padding: 10px;
		border-radius: 10px;
		background: $darkergreen;
		color: $lightergreen;
		display: flex;
		justify-content: space-evenly;
		cursor: pointer;

		&:disabled {
			background: grey;
		}
	}
}